/* ===============================
   REGISTRO TEMPERATURE
================================ */

#lista-anni {
  margin-top: 16px;
}

#lista-anni .box-toggle {
  font-size: 18px;
  padding: 20px;
  text-align: center;
}
/* ===============================
   REGISTRO TEMPERATURE
================================ */

#lista-anni,
#lista-mesi {
  margin-top: 16px;
}

#lista-anni .box-toggle,
#lista-mesi .box-toggle {
  font-size: 16px;
  padding: 18px;
  text-align: center;
}
